.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;
  height: min-content;
  padding: 20px;
  background-color: #343a40;
  border-radius: 20px;
  box-shadow:
    rgb(0, 0, 0.2) 0px 1px 2px,
    rgba(0, 0, 0, 0.3) 0px 2px 4px,
    rgba(0, 0, 0, 0.2) 0px 4px 8px,
    rgba(0, 0, 0, 0.1) 0px 8px 16px,
    rgba(0, 0, 0, 0.01) 0px 16px 32px,
    rgba(0, 0, 0, 0.7) 0px 32px 64px;
}

.filter__button {
  display: flex;
  align-self: flex-end;
}

.filter_container {
  display: flex;
  gap: 10px;
}

.filter_container label {
  color: white;
}

.table_container {
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

caption {
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
}

th,
td {
  border: 1px solid #ddd;
  text-align: left;
  color: white;
  padding: 10px;
  word-wrap: break-word;
  max-width: 250px;
}

th {
  background-color: #707385;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

td:nth-child(3) {
  text-align: center;
}
