.container {
  display: flex;
  padding: 30px;
  max-width: 700px;
  width: 100%;
  gap: 50px;
  justify-content: center;
  align-items: center;
  background-color: #343a40;
  border-radius: 20px;
  box-shadow:
    rgb(194, 194, 194) 0px 1px 2px,
    rgba(194, 194, 194, 0.3) 0px 2px 4px,
    rgba(0, 0, 0, 0.2) 0px 4px 8px,
    rgba(0, 0, 0, 0.1) 0px 8px 16px,
    rgba(0, 0, 0, 0.01) 0px 16px 32px,
    rgba(0, 0, 0, 0.7) 0px 32px 64px;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 10px;
}

.input__wrapper {
  position: relative;
  line-height: 14px;

  gap: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__input_label {
  color: #bbb;
  font-size: 12px;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  padding: 0 2px;
  pointer-events: none;
  background: transparent;
  transition:
    transform 100ms ease,
    color 100ms ease;
  transform: translateY(-25px);
}

.form__input_checkbox {
  color: white;
  font-size: 14px;
}

.form__selector {
  margin-bottom: 10px;
  display: flex;
}
.form__input {
  font-size: 13px;
  color: #555;
  outline: none;
  border: 1px solid #bbb;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;

  &:invalid + label {
    transform: translateY(0);
    color: #bbb;
  }

  &:disabled {
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959da5;
    cursor: default;
  }
  &:focus {
    border-color: #2b96f1;
  }

  &:focus + label {
    color: #2b96f1;
    transform: translateY(-25px);
  }
}

.options_container {
  color: white;
  font-size: 13px;
}

.input__errors {
  color: rgb(211, 117, 117);
  font-size: 12px;

  padding: 5px;
  font-weight: bold;
}

.form_container__action {
  display: flex;
  align-items: flex-end;
}
