.button {
  text-align: center;
  text-transform: uppercase;

  border-radius: 10px;
  background-color: #343a40;
  color: #e9ecef;
  padding: 5px;
  font-size: 12px;

  transition:
    transform 0.05s ease-in-out,
    box-shadow 0.2s ease-in-out;

  cursor: pointer;
}

.button:hover {
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: scale(1.05);
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
  &:hover {
    box-shadow: none;
  }

  &:active {
    transform: none;
  }
}
